@function between($to, $from, $toWidth, $fromWidth) {
  $slope: ($to - $from) / ($toWidth - $fromWidth);
  $base: $from - $slope * $fromWidth;

  @return calc(#{$base} + #{100vw * $slope});
}

$small: 550px;
$large: 1600px;

:root {
  font-size: between(24px, 16px, $large, $small);
}

*,*:before,*:after { box-sizing: inherit }

html  {
  box-sizing: border-box;
  height: 100%;
  display: flex;
}

body {
  margin: auto;
  background-color: #faf7f6;
  color: #805466;
  backgro
  img-position 
}
.center {
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}


#app {
  padding: 5%;
}

#book-search {
  display: flex;
  align-content: center;
  align-items: flex-end;
}

label span {
  display: block;
  font-size: .9rem;
  font-weight: bold;
}

input {
  padding: .4rem .5rem;
  border-radius: .25rem;
  border: 2px solid #f3edeb;
  margin-top: .25rem;
  margin-right: .25rem;
  box-shadow: 0 .4rem 1rem -.4rem #d4b1a5;
  margin-bottom:.50rem
}

button {
  background: ff9900;
  position: relative;
  color: lightgray;
  border: none;
  padding: 0 .75rem;
  border-radius: .25rem;
  font-size: .6rem;
  line-height: 2.8;
  text-transform: uppercase;
  box-shadow: 0 .4rem 1rem -.4rem purple;
  margin-bottom:.50rem
}

.search-results {
  padding-left: 0;
  
  li + li {
    margin-top: .5rem
  }
}

.search-result {
  background-color: white;
  position: relative;
  border: 2px solid #f3edeb;;
  border-radius: .25rem;
  overflow: hidden;
  box-shadow: 0 1rem 1rem -.75rem #dfc8c0;
  display: flex;
  align-items: center;
}

.search-result--thumbnail {
  flex: none;
  width: 15%;
  width: 4rem;
  height: auto;
  align-self: flex-start;
}

.search-result--info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding: .5rem;
  list-style: none;
}

.search-result--title {
  font-size: 1rem;
  font-weight: bold;
  color: #65002a;
}

.search-result--authors {
  font-size: .9rem
}

.search-result--published {
  font-size: .8rem;
}

#all-the-books {
  width: 100%;
}
.footer{
  text-transform: uppercase;
  padding: 0 20px 0 20px;

  color:black;
  font-size:14px;
  letter-spacing: .08em;
  font-weight: 500;

}

.name{

  font-weight:700;
  text-color: #65002a;

}
.copyrights{
  

  float:right;
}
